{
  "semi": true,
  "printWidth": 100,
  "tabWidth": 4,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "useTabs": false,
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "endOfLine": "auto"
}
