@import '/src/styles/styles.scss';

.ImageGallery {
    display: grid;
    grid-gap: $mediumMargin;
    max-width: 80%;

    @include respond-above(sm) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include respond-above(md) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include respond-above(lg) {
        grid-template-columns: repeat(4, 1fr);
    }

    &__item {
        position: relative;
        max-width: $galleryImageMaxWidth;
    }
    
}